h3{
  font-family: fantasy;
}


.logins{
  margin-left: 400px;
  background-color: white;
  color: black;
  text-align: center;
  width: 500px;
}

input[type="text"]{
  display: block;
  width: 300px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
label{
  font-weight: bold;
  font-family: cursive;
  font-style: italic;
}

form{
  max-width: 350px;
  margin: 30px auto;
}
input[type="submit"]{
  background: #555;
   color: #fff;
   border: 0;
   padding: 10px;
   font-size: 18px;
   width: 200px;
   margin: 0 auto;
   display: block;
   cursor: pointer;
   border-radius: 4px;
}

button{
  background: green;
  border: 0;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
button.false{display: none;}
