p {
  color: white;
  font-size: 40px;
  width: 250px;

  font-weight: bold;
}

img {
    height: 200px;
    width: 340px;
}

.overlay{
  width: 340px;
  justify-items: center;
  text-justify: auto;
}
